@tailwind base;
@tailwind components;
@tailwind utilities;

.newtons-cradle {
  --uib-size: 20rem;
  --uib-speed: 1.2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #8b5cf6, #b650df, #d147c7, #e244af, #ec4899);
}
.gradient3{
  background-image: linear-gradient(to right bottom, #8b5cf6, #915bf6, #965af7, #9c58f7, #a157f7, #b052ef, #bc4ee6, #c74ade, #d744cb, #e242b9, #e943a9, #ec4899);
}
.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}
@media screen and (max-width: 650px) {
    .newtons-cradle {
        --uib-size: 10rem;
       }
}